@using Freemoded.Automotive.Frame.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="float: left;"><img src="@Html.MixImg("401-accessdenied.jpg")" style="width: 200px;height: 200px;" alt="Access Denied" /></div>
<div style="float: left;margin:50px 0 0 20px;">
    <h1>Access denied</h1>
    <p>Access denied</p>
</div>
