<div class="carzing-widget"
     data-carmojo-theme="modern-medium"
     data-carmojo-price="INSERT YOUR VALUE HERE"
     data-carmojo-vin="INSERT YOUR VALUE HERE"
     data-carmojo-primary-image-url="INSERT YOUR VALUE HERE">

</div>

<div id="cz-dealdriver-settings" data-type="widget-vdp" data-primary-color="#333" data-secondary-color="#0da1de"></div>
<script src="https://dealdriver.carzing.com/api/dealerwebsite/integration/f5a04a2d426492a276ff9858d662285e208f1f8db1304c67b5bff53b9a050776/"></script>
@section scripts{
   
}