@{
    ViewBag.Title = "About Us";
}
<article class="block prose">
    <h2><span class="bold">About</span> Us</h2>
    <ul class="extra-info">
        <li class="text-shadow title">Used Cars Remarketing Factory Outlet</li>
        <li>654 W Bridge St, Morrisville, PA 19067</li>
        <li>United States (215)295-1515</li>
        <li>Text: ‎(267)800-6119 </li>
        <li>Fax: (215)-428-4932</li>
        <li>Email: autoprestigeimports@gmail.com</li>
    </ul>
    <p>
        Prestige Imports Auto Sales incorporation was established in 2004.
        We take pride in our reputation for excellent customer service; both before and long after the sale.
    </p>
    <p>
        Our clientele includes the most famous celebrities and royalty.
        The reason they keep coming back is simple: "High quality sales, service and satisfaction". Guaranteed!?
    </p>
    <p>
        Our customers buy from the best and stay with the best because we always have and always will be the best.
        Our sales department has one purpose: to exceed your expectations from test drive to delivery.
    </p>
    <div>
        <img style="display: block; margin: 15px 0 15px 0; height: auto; width: 100%;"
             ng-src="{{AppServices.Management.GetImageUrl('mdx.jpg')}}" 
             alt="Acura image"/>
    </div>
    <p>
        Our friendly, knowledgeable sales professionals will provide you with the information you need to make an educated buying decision.
    </p>
    <p>
        Our goal is for you to feel that the vehicle you drive away in is the perfect one for you.
    </p>
    <p>
        online inventory new and pre-owned vehicles is updated daily.
        We invite you to schedule a test drive or stop by our showroom to experience all that we have to offer.
    </p>
    <p>
        Our service department offers the best in automotive service to our customers.
        Our state-of-the-art facility features the most current diagnostic and repair equipment available and our highly skilled factory-trained technicians will deliver efficient, quality vehicle care.
    </p>
    <div class="grey-corner-box address-info">
        <h5><span class="bold">Sales </span>Department Hours</h5>
        <ul>
            <li>Mon-Fri 9:00 AM - 9:00 PM</li>
            <li>Sat 10:00 AM - 6:00 PM</li>
        </ul>
    </div>
    <div class="grey-corner-box address-info">
        <h5><span class="bold">Service</span> Department Hours</h5>
        <ul>
            <li>Mon-Fri 9:00 AM - 7:00 PM</li>
            <li>Sat 9:00 AM - 6:00 PM</li>
        </ul>
    </div>
</article>

