@{
    ViewBag.Title = "FAQ";
}
<article class="block">
    <h4>FAQ</h4>
    <div class="minimalist-collapse">
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target='#faq-1'>How to order car from us ?</dt>
            <dd class='m-collapse' id='faq-1'>
                If you see a vehicle you would like to buy in our section products you can place an order directly by calling our office phone numbers or writing e-mail message. We recommend you to place a direct phone call in order to reserve car for yourself. A phone call as being the most efficient and fastest way to order will exclude possibility that someone else will order/reserve this car ahead of you.
                If you did not find model you'd like to purchase among our cars, you can order very specific car model with options. In which case we will be searching for vehicle on all forthcoming options until we find one that meets your needs. We welcome all forms of communication and work with our customers.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-2">How to pay for a car I want to purchase?</dt>
            <dd class="m-collapse" id="faq-2">
                We recommend to make payment directly on our account (for information you can call us).
                Such payment will go through bank system and will be registered as legal transaction.
                We recommend to specify Car VIN number in your payment order. Please, remember to send us copy of your payment order as soon as possible by fax or e-mail. This will considerably facilitate the entire procedure: preparing vehicle and loading, processing necessary paperwork, etc.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-3">What car price is based on? What a car price includes?</dt>
            <dd class="m-collapse" id="faq-3">
                We do not base our prices on local market prices of countries where we sell our vehicles. Our car prices directly depend on prices at dealer auctions where we purchase vehicles. Our company is a wholesale car dealer, and therefore we try to keep all prices as low as possible for our clients and our prices are quite competitive on the car market.
                Usually a car price we set includes auction purchase price, default shipment cost (see details), handling fee and our commission.
                Main principle in our price policy is concordance between sale prices of vehicles and their quality.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-4">What factors form car prices on American market?</dt>
            <dd class="m-collapse" id="faq-4">
                Main factor affecting car price is mileage of a vehicle. Second important factor in forming adequate price is cosmetic condition of vehicle. As a rule, we can properly evaluate vehicle only after purchasing it on auction, thus we check all car lots before offering them for sale. We try to provide most accurate description of car and we never mask or hide car body defects (exterior or interior), if some exist. On the contrary, if certain defects are present, we try to describe them and provide visual information as well (close-up photos of defects among other photographs of the vehicle). We understand importance of accuracy of all information related to any car we sell, and thereby we never conceal real mileage of vehicle.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-5">Do you offer vehicle history verified via CarFax (and alike)?</dt>
            <dd class="m-collapse" id="faq-5">
                CarFax is a private company that provides such service on commercial basis. Carfax obtains reports from insurance companies, car registration records in USA, etc. to keep their database up-to-date. We do not buy reports from CarFax or similar services, but you can do it yourself.
                We have guarantee of automotive auctions where we purchase vehicles. Wholesale Car auction system guarantees complete verification of every vehicle history before auction sale.
                We also have extensive experience in car business, and our experts can usually detect car history disparities and any incongruity as for accuracy and authenticity of vehicle is concerned.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-6">
                What if car is delivered with some damages not listed in description?
            </dt>
            <dd class="m-collapse" id="faq-6">
                We use only container type of shipment for passenger cars (and SUVs). Companies that handle car delivery (loading and shipping cars) make an accurate description of all cargo before loading. Consignee (a company receiving all cargo in destination port) must do the same procedure and produce such description to a client/recipient prior to handing over cargo. With such practice, cases of theft or cargo damage are very rare.
                Nevertheless, we recommend our clients to print out and keep all photos of car from our web-site for possible conflicts and disputes with consignee (party receiving cargo in destination port).
                We describe all additional items included in package (if present): service books and manuals, tool sets and wrenches, etc.
                We recommend our clients, who discover some scratches, dents, etc. on their cars that was not supposed to be there and not listed in car descriptions made before shipment, make photographs of those questionable damages. (Preferably standard film or Polaroid, NOT digital shots). Such photos will help to document all claims properly to shipping company and to help our clients to receive compensation.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-7">
                Did You have cases when shipped cargo was lost?
            </dt>
            <dd class="m-collapse" id="faq-7">
                We did not have such cases in our business yet. However anything can happen out in the ocean. For situation of this kind, transportation agency (shipline company) and client have insurance policies.
                All cargo transported across the ocean is insured in full: whether it's a loss of cargo or it's complete wreck and submersion of ship with all cargo. In this case shipping company is responsible for providing full compensation to clients.
                We insure all cars and cargo that we ship across the Atlantic ocean.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-8">
                Can I choose shipline for my cargo myself?
            </dt>
            <dd class="m-collapse" id="faq-8">
                Of course You can. We welcome any choice you make. We offer shipment of vehicles by shipline companies we have permanent contracts.
                That is why, on our web site, we show 'default' prices with delivery included. If you choose different company for shipping your car, then you only pay for car itself, delivery/shipment price will not be included.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-9">
                I have seen some site with similar offers and cars from your web-site?
            </dt>
            <dd class="m-collapse" id="faq-9">
                Sometimes we receive some messages from our clients that encounter our car lots for sale by other web sites in Internet. We call those sites "Internet-doubles", because for the most part they take not only our cars, and photos, but even texts word to word. As usual "creators" of those sites make with only purpose to appear to be active business companies.
                Probably some of them do provide certain services and sell cars from USA, however, there is good possibility that some "doubles" were created with different purposes and aimed at gullible people. Imagine what this "purpose" can be. In any case, we recommend to verify authenticity of offered car(s) before paying for it, i.e. check VIN number, contact shipline/transportation company handling this vehicle, etc.
                The main rule is to be careful and look out for information such site provides. Do they have shipment schedule? Do they have consignee addresses? Container numbers (tracking numbers)? And above all - their bank accounts and phone numbers should not change!
                Be very careful and cautions!
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-10">
                How soon my car can be delivered?
            </dt>
            <dd class="m-collapse" id="faq-10">
                Usually 7-10 days pass between loading of car into container in port and its actual shipping by cargo ship. Port Customs clearance (to verify that car was not stolen) takes about 3-4 days, other paperwork and loading aboard take 4-6 days. Generally, when all necessary documents are available and prepared, and timing is right, car delivery does not exceed one month.
            </dd>
        </dl>
        <dl class="m-result">
            <dt data-collapse="m-collapse" data-target="#faq-11">
                Do you have discounts for wholesale buyers?
            </dt>
            <dd class="m-collapse" id="faq-11">
                Yes. All wholesale buyers purchasing cars from us regularly have discounts on wholesale deals. But we want to remind that we offer already very low and competitive prices from the start, and we suggest You ought to keep that in mind before you start negotiating prices.
            </dd>
        </dl>
</div>
</article>
@section scripts{
 <script type="text/javascript">
    $(document).ready(function () {
        $('.minimalist-collapse').mcollapse();
    });
</script>    
}
