@using Freemoded.Automotive.Frame.Web.Mvc
@{
    ViewBag.Title = "Shipping";
}
<section id="car-pagination">
    <div class="content-holder">
        <div class="page-main-heading extra-space">
            <div class="heading-location">
                <h2><span class="bold">Shipping</span></h2>
                <p class="page-location">
                    <a href="@Url.Action("Index")">Home </a>
                    <span class="greater-than">&gt;&gt;</span>
                    <a href="@Url.Action("Shipping")">Shipping</a>
                </p>
            </div>

        </div>
    </div>
</section>

<div id="sell-your-vehicle">
    <div class="content-holder">
        <div class="full-width light-grey-corner-box box-text-default">
            <p>
                If you purchase vehicle from us, we offer shipping services:
                <br/>
                <b>Estimated Domestic Delivery Price:</b>
                $1.50 per mile.
                <a href="http://maps.google.com/">Free Google maps services to check distance</a>

                <img style="float: left;margin:5px 5px 5px 0;" src="@Html.MixImg("car-transport.jpg")" alt="Transport image" />
            </p>
            <b>Prices may vary from season. </b>
            <br />
            <br />
            <p>
                One of the questions often asked by our customers is <b>'When will my vehicle get shipped?'</b> Well, most of our cars in the stock already have "de-registration documents" so we can start arranging the shipment next day we confirm your payment. 
                Please get in touch with us to get an idea about the approximate ocean freight time for your country. 
                However, depending on the destination country, sometimes it may be difficult to book a shipment for the next available ship. 
                <br />
                <br />
                For Carribean countries and Canada there are only few ships are available from Japan, and new cars get a priority for loading. 
                Thus, the ocean Freight time will depend on the destination where you want to ship your car and may vary from several days to several months. 
                <br />
                <br />
                Call us at <b>(215) -295-1515 or email us autosales@autoprestigeinc.com .</b> Our sales department will be happy to assist you in your buying needs. 
                <div class="clearfix"></div>
            </p>
        </div>
        <div id="preview-list" class="full-width pull-left">
            <div class="one-third grey-corner-box">
                <h3><span class="bold">Estimated </span>International Delivery Prices:</h3>
                <ul>
                    <li>NY-Kotka (Finland) -$850</li>
                    <li>(Russia) -$980</li>
                    <li>NY-Klaipeda (Baltic) -$850</li>
                    <li>NY-Klaipeda (Baltic) -$850</li>
                    <li>NY-Bremen (Germany) -$720</li>
                    <li>NY-Almata (Kazahstan) -$2300</li>
                    <li>NY-Odessa (Ukrain) -$850</li>
                    <li>NY-Dubai (UAE) -$950 </li>
                </ul>
            </div>
            <div class="one-third grey-corner-box">
                <h3><span class="bold">Sales </span>Department</h3>
                <ul>
                    <li>Phone : (215) -295-1515</li>
                    <li>Fax: (215)-428-4932</li>
                    <li>Email : autosales@autoprestigeinc.com</li>
                    <li>Mon-Fri 10:00 AM - 7:00 PM</li>
                    <li>Sat 9:00 AM - 6:00 PM</li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="clearfix"></div>
</div>
