@using Freemoded.Automotive.Frame.Web.Mvc

@{
    ViewBag.Title = "Shipping";
}
<article class="block prose">
    <h2><span class="bold">Shipping</span></h2>
    <p>
        If you purchase vehicle from us, we offer shipping services:
        <b>Estimated Domestic Delivery Price:</b>
        $1.50 per mile.
        <a href="http://maps.google.com/">Free Google maps services to check distance</a>
    </p>
    <div>
        <img style="display: block; margin: 15px 0 15px 0; height: auto; width: 100%;" 
             src="@Html.MixImg("car-transport.jpg")" alt="Acura image" />
    </div>
    <p class="bold">Prices may vary from season. </p>
    <p>One of the questions often asked by our customers is <b>'When will my vehicle get shipped?'</b> Well, most of our cars in the stock already have "de-registration documents" so we can start arranging the shipment next day we confirm your payment. Please get in touch with us to get an idea about the approximate ocean freight time for your country. However, depending on the destination country, sometimes it may be difficult to book a shipment for the next available ship.
    </p>
    <p>For Carribean countries and Canada there are only few ships are available from Japan, and new cars get a priority for loading. Thus, the ocean Freight time will depend on the destination where you want to ship your car and may vary from several days to several months. </p>
    <p>Call us at <b>(215) -295-1515 or email us autosales@autoprestigeinc.com .</b> Our sales department will be happy to assist you in your buying needs.
    </p>
    <div class="grey-corner-box address-info">
        <h5><span class="bold">Estimated </span>International Delivery Prices</h5>
        <ul>
            <li>NY-Kotka (Finland) -$850</li>
            <li>(Russia) -$980</li>
            <li>NY-Klaipeda (Baltic) -$850</li>
            <li>NY-Klaipeda (Baltic) -$850</li>
            <li>NY-Bremen (Germany) -$720</li>
            <li>NY-Almata (Kazahstan) -$2300</li>
            <li>NY-Odessa (Ukrain) -$850</li>
            <li>NY-Dubai (UAE) -$950 </li>
        </ul>
    </div>
    <div class="grey-corner-box address-info">
        <h5><span class="bold">Sales</span> Department</h5>
        <ul>
            <li>Phone : (215) -295-1515</li>
            <li>Fax: (215)-428-4932</li>
            <li>Email : autosales@autoprestigeinc.com</li>
            <li>Mon-Fri 9:00 AM - 7:00 PM</li>
            <li>Sat 9:00 AM - 6:00 PM</li>
        </ul>
    </div>
</article>

