@using Freemoded.Automotive.Frame.Web.Mvc
<div class="footer">
    <div class="pull-right">
        @User.Identity.Name
    </div>
    <div>
        <strong>Copyright</strong> @Html.Title() &copy; 2016
    </div>
</div>
